body {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

h1, h2, a {
    font-family: raleway;  
    letter-spacing: 1px;
}

h1, h2 {
}

h1 {
    font-weight: 400;
    font-size: 45px;
    margin: 0;
}

h2 {
    color: #0d2c40;
    font-weight: 600;
    font-size: 18px;
}

a {
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: inherit;
    margin: 0 20px;
    border-bottom: 2px solid transparent;
}

a:hover {
    border-color: #fff;
}

p {
    font-family: 'Droid Serif';
    line-height: 26px;
    font-size: 18px;
}

header {
    background-color: #f15b31;
    color: #fff;
    padding: 30px 20px;
}

nav {
    background-color: #00a6b3;
    color: #fff;
}

main {
    width: 850px;
    margin: 35px auto;
}

img {
    margin: 40px 8px 0 8px;
}

footer {
    text-transform: uppercase;
    padding: 0 20px;
    background-color: #0d2c40;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .08em;
}

.copyright, .message{
    color: #fff;
}

.copyright {
    float: left;
}

.message {
    float: right;
}

.name {
    color: #f15b31;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: ' ';
    clear: both;
    height: 0;
    font-size: 0;
}